@import "bourbon/bourbon";
@import "neat/neat";
@import "helpers/index";
@import "base/index";
// @import "components";
// @import "layout";

// === Navbar ===

.logo {
  float: left;
  font-family: $main-font;
}

span.logo1 {
  color: $teal-font;
}

ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  li {
    font-family: $main-font;
    display: inline;
    padding: 20px;
    }
    li.apply {
      color: $teal-font;
      font-family: $bold-main-font;
    }
  }
