@import "bourbon/bourbon";
@import "neat/neat";
@import "helpers/index";
@import "base/index";
// @import "components";
// @import "layout";


.main-image-container {
  position: relative;

  .main-image {
    position: relative;
    width: 100%;
    max-height: 800px;
  }

  .main-image-text {
    position: absolute;
    display: block;
    right: 30%;
    left: 30%;
    top: 45%;
    bottom: 50%;
    text-align: center;
    font-family: $main-font;
    font-size: 2em;
    color: $image-text-color;
  }
}

.wide-content-box {
  padding-left: 10%;
  padding-right: 10%;
  h1 {
    color: $teal-font;
    text-align: center;
    font-family: $main-font;
    font-size: 3em;
  }
  p {
    font-family: $main-font;
  }
}

.content1 {
  margin-left: 10%;
  margin-right: 10%;
  min-width: 100%;
}
.content-block1 {
  display: block;
  text-align: left;
  @include blocks;
  @include span-columns(3);
  p {
    @include blocks;
    color: black;
  }
  .content-box-title {
    @include blocks;
  }
}

.content-block2 {
  display: block;
  text-align: left;
  @include blocks;
  @include span-columns(3);
  p {
    @include blocks;
    color: black;
  }
  .content-box-title {
    @include blocks;
  }
}

.content-block3 {
  display: block;
  text-align: left;
  @include blocks;
  @include span-columns(3);
  p {
    @include blocks;
    color: black;
  }
  .content-box-title {
    @include blocks;
  }
}

.content-block4 {
  display: block;
  text-align: left;
  @include blocks;
  @include span-columns(3);
  p {
    @include blocks;
    color: black;
  }
  .content-box-title {
    @include blocks;
  }
}


.quote-content-block {
  display: block;
  width: 100%;
  blockquote {
    display: block;
    width: 100%;
    background-color: lightgrey;
  }
}
