@import "bourbon/bourbon";
@import "neat/neat";
@import "helpers/index";
@import "base/index";
// @import "components";
// @import "layout";


.main-image-container {
  position: absolute;
  top: 120px;

  .main-image {
    position: relative;
    width: 100%;
    height: 80%;
  }

  .main-image-text {
    position: relative;
    display: block;
    right: auto;
    left: auto;
    bottom: 420px;
    text-align: center;
    }

}
