// === Media queries ===



.nav-wrapper ul li {
  @media only screen and (max-width: 750px){
    display: inline;
    width: 50%;
  }
}

h1 {
  @media only screen and (max-width: 1100px){
    display: none;
  }
}




.content-block1 {
  @media only screen and (max-width: 1050px){
    @include span-columns(12);
  }
}


.content-block2 {
  @media only screen and (max-width: 1050px){
    @include span-columns(12);
  }
}

.content-block3 {
  @media only screen and (max-width: 1050px){
    @include span-columns(12);
  }
}

.content-block4 {
  @media only screen and (max-width: 1050px){
    @include span-columns(12);
  }
}

.companies {
@media only screen and (max-width: 989px){
display: none;
}
}
