@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin blocks {
  color: $teal-font;
  width:150px;
}

@mixin gradient($direction, $color) {
  @include linear-gradient(to $direction, $color 40%, lighten($color, 20%) 100%);
}
