@include font-face("Open Sans", "../fonts/OpenSans-Light");
@include font-face("Open Sans Bold", "../fonts/OpenSans-Bold");

$main-font: "Open Sans";
$bold-main-font: "Open Sans Bold";
$teal-font: #00b3b4;
$image-text-color: #fff;

$quote-text-color: #00ff00;
